.anime-card {
    width: 300px;
    height: 250px;
    border: 1px solid #00000080;
    border-radius: 6px;

}

#anime-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    top: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
}

button {
    width: 300px;
    height: 250px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    border: solid 2px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 2px 3px rgb(0, 0, 0);
}

p {
    font-size: 85px;
}

.add-anime-btn {
    position: absolute;
    bottom: -50px;
    left: 129px;
}