* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 250px;
    width: 100%;
    position: relative;

    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    height: 130px;
    width: 130px;
    position: absolute;
    bottom: -65px;
    left: 115px;
}

main {
    margin: 100px;
    border: solid 1px;
    height: 200px;
}

h1 {
    font-size: 42px;
    color: rgb(77, 76, 76);
    margin-bottom: 30px;
}

.nav {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 5px;
    position: relative;
    padding-bottom: 8px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.line {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: black;
    transition: all 0.3s ease;
}